.hero{
    display: flex;
    align-items: center;
    padding: 0;
}
.hero > * {
    flex: 1;
}
.hero > img{
    min-width: calc(100vw/2);
    max-height: 650px;
    object-fit: cover;
}

.hero .presentation {
    margin-left: var(--general-padding);


}

.hero h1{
    max-width: 12ch;
    color: #253956;
}
.hero strong {
    display: inline-block;
    color:  #de6262;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.hero p{
    max-width: 35ch;
}